.flex-container {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: flex-start;
    
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item {
    background: rgb(65, 163, 74);
    width: 200px;
    height: 200px;
    line-height: 150px;
    color: rgb(238, 251, 239);
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

body {
    background-color:  rgb(187, 236, 192);
}